@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html, body {
  padding: 0;
	margin: 0;
}

* {
	box-sizing: border-box;
	
	font-family: 'Montserrat', sans-serif;
}

.full-width {
	width: 100%;
}

.bordered {
	border: 1px solid black;
	border-radius: 5px;
}